body {
  background-image: url(../public/background.jpg);
  color: #DF0011;
}

.app {
  position: relative;
}

.wrapper {
  width: 75%;
  display: inline-block;
  margin-left: 50px;
  justify-content: center;
  font-family: monospace;
  font-size: 2em;
}

.red {
  color: red;
  display: inline-block;
}

.green {
  color: green;
  display: inline-block;

}

.welcome {
  font-family: cursive;
  font-size: 100px;
  margin-bottom: 20px;
  margin-top: 20px;
  color: #000;

  -moz-transform:translateX(100%);
  -webkit-transform:translateX(100%);
  transform:translateX(100%);
  /* Apply animation to this element */
  -moz-animation: example1 15s linear infinite;
  -webkit-animation: example1 15s linear infinite;
  animation: example1 15s linear infinite;
}

/* Move it (define the animation) */
@-moz-keyframes example1 {
 0%   { -moz-transform: translateX(100%); }
 100% { -moz-transform: translateX(-100%); }
}
@-webkit-keyframes example1 {
 0%   { -webkit-transform: translateX(100%); }
 100% { -webkit-transform: translateX(-100%); }
}
@keyframes example1 {
 0%   {
 -moz-transform: translateX(100%); /* Firefox bug fix */
 -webkit-transform: translateX(100%); /* Firefox bug fix */
 transform: translateX(100%);
 }
 100% {
 -moz-transform: translateX(-100%); /* Firefox bug fix */
 -webkit-transform: translateX(-100%); /* Firefox bug fix */
 transform: translateX(-100%);
 }
}

.use-state {
  background: #18B100;
  border: 5px groove #DF0011;
}

.form {
  margin-top: 50px;
  padding-bottom: 10px;
  background: #126C00;
  color: #FF0023;
}

.image {
  width: 50%;
  margin-top: 50px;
  margin-left: 50px;
  -moz-animation: example5 5s linear infinite alternate;
   -webkit-animation: example5 5s linear infinite alternate;
   animation: example5 5s linear infinite alternate;
  }
  /* Move it (define the animation) */
  @-moz-keyframes example5 {
   0%   { -moz-transform: translateX(70%); }
   100% { -moz-transform: translateX(0%); }
  }
  @-webkit-keyframes example5 {
   0%   { -webkit-transform: translateX(70%); }
   100% { -webkit-transform: translateX(0%); }
  }
  @keyframes example5 {
   0%   {
   -moz-transform: translateX(70%); /* Firefox bug fix */
   -webkit-transform: translateX(70%); /* Firefox bug fix */
   transform: translateX(70%);
   }
   100% {
   -moz-transform: translateX(0%); /* Firefox bug fix */
   -webkit-transform: translateX(0%); /* Firefox bug fix */
   transform: translateX(0%);
   }
}

.secret {
  margin: 0px;
  font-size: 12px;
  font-style: italic;
  font-weight: lighter;
  color: #fff;
  font-family: fantasy;
}

.fact-container {
  color: #DF0011;
  background-color: #18B100;
  text-align: center;
}

.fact {
  font-size: 18px;
  color: white;
  font-family: sans-serif;
  padding: 20px;
  margin-bottom: 15px;
  background-color: #DF0011;
}

button {
  border: 5px groove #DF0011;
  font-size: 1.5em;
  font-family: monospace;
  color: #DF0011;
  background-color: #18B100;
}

p {
  text-align: center;
}
