body {
  background-color: gray;
  color: #fff;
}

.app {
  position: relative;
}

.wrapper {
  display: inline-block;
  margin-left: 50px;
  justify-content: center;
  font-family: monospace;
  font-size: 2em;
}

.cursive {
  font-family: cursive;
  width: 50px;
  color: #000;
  background-color: #fff;
}

.use-state {
  background: #000;
}

button {
  font-size: 1.5em;
  font-family: monospace;
  color: cyan;
  background-color: #000;
}
