body {
  background-color: gray;
  color: #fff;
}

.app {
  position: relative;
}

.wrapper {
  width: 75%;
  display: inline-block;
  margin-left: 50px;
  justify-content: center;
  font-family: monospace;
  font-size: 2em;
}

.cursive {
  font-family: cursive;
  width: 50px;
  color: #000;
  background-color: #fff;
}

.use-state {
  background: #000;
}

.form {
  margin-top: 50px;
  padding-bottom: 10px;
  background: pink;
  color: #000;
}

.image {
  width: 50%;
  margin-top: 50px;
  margin-left: 50px;
  -moz-animation: example5 5s linear infinite alternate;
   -webkit-animation: example5 5s linear infinite alternate;
   animation: example5 5s linear infinite alternate;
  }
  /* Move it (define the animation) */
  @-moz-keyframes example5 {
   0%   { -moz-transform: translateX(70%); }
   100% { -moz-transform: translateX(0%); }
  }
  @-webkit-keyframes example5 {
   0%   { -webkit-transform: translateX(70%); }
   100% { -webkit-transform: translateX(0%); }
  }
  @keyframes example5 {
   0%   {
   -moz-transform: translateX(70%); /* Firefox bug fix */
   -webkit-transform: translateX(70%); /* Firefox bug fix */
   transform: translateX(70%);
   }
   100% {
   -moz-transform: translateX(0%); /* Firefox bug fix */
   -webkit-transform: translateX(0%); /* Firefox bug fix */
   transform: translateX(0%);
   }
}

.secret {
  margin: 0px;
  font-size: 12px;
  font-style: italic;
  font-weight: lighter;
  color: purple;
  font-family: fantasy;
}

.fact {
  color: cyan;
  text-align: center;
}

button {
  font-size: 1.5em;
  font-family: monospace;
  color: cyan;
  background-color: #000;
}

p {
  text-align: center;
}
